<style>
body {
  background-color: Azure;
  text-align: center
}
h1 {
  color: Bisque;
  text-align: center
}
p {
  color: Black;
  text-align: center
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  border: 1px solid black;
}
</style>
